.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modalWrapper{
  position: relative;
  border-bottom: 1px solid grey;
}

.modalWrapper img{
  padding-top: 6px;
}

.modalWrapper input[type="text"] {
  width: 450px;
  height: 30px;
}

.scrollWrapper{
  height: 500px;
  width: 500px;
  overflow: auto;
}

.modal-actions{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.btn-one{
  margin-left: 220px;
}

.flex{
  display: flex;
}

.MOdal-Heading{
  display: flex;
  justify-content: space-between;
 
  /* margin-left: 40px; */
  /* padding-left: 5px; */
}

.MOdal-Heading button{
   font-size: 30px !important;
   all: unset;
}

.border{
  margin-top: 10px;
  height: 50px;
  /* width: 250px; */
  /* box-sizing: border-box; */
  /* overflow: hidden; */
  /* white-space: nowrap; */
}

.Search{
  position: relative;
  /* margin-top: 1px; */
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid grey;
  /* border: ; */
}

.Search img{
  position:absolute;
  top: 25%;
  left: 2%;
}

.input{
  padding-left: 35px;
  max-width: 500px;
}

.Discount{
  border-radius: 4px;
  border: 2px;
  background-color: #008060;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-top: 5px;
}

.product{
  border-radius: 4px;

}

.select-product{
  border: 1px solid black ;
  background-color: rgb(255, 252, 252);
  padding-top: 3px;
  padding-bottom: 10px;
  margin-left: 22px;
  margin-top: 5px;
   padding-left: 10px;
   /* margin-bottom: 10px; */
  /* padding-right: 10px;  */
  /* padding-right: 15px; */
}

.img{
  padding-left: 80px;
  padding-right: 10px;
}

.qty{
  float: right;
  margin-right: 10px;
}


.child-price{
  float: right;
  margin-right: 30px;
}



.selection{
  /* border-bottom: 1px solid grey; */
  margin-top: 10px;
  /* padding-top: 10px;
  padding-bottom: 10px; */
}



.title{
  border-bottom: 1px solid grey;
  padding-top: 10px;
  padding-bottom: 10px;
}

.variants{
  border-bottom: 1px solid grey;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.child-title{
  margin-left: 10px;
}

.group-title{
  margin-left: 10px;
}



.btn-one{
  /* margin-left: 5px; */
}

.btn-two{
  margin-left: 5px;
  background-color: #008060;
  color: white;
  /* border-box: hidden; */
}
/* 










.products-one{
  width: 107px;
  height: 24px;
  margin-top: 115px;
  margin-left: 321px;
  gap: 84px;
  font-weight: 700;
}

.products-two{
  width: 54px;
  height: 16px;
  margin-top: 172px;
  margin-left: 361px;
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.9);
  }

.products-three{
  width: 61px;
  height: 16px;
  margin-top: 172px;
  margin-left: 80px;
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.9);
}

.products-four{
  width: 215px;
  height: 32px;
  margin-top: 204px;
  margin-left: 344px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
}

.products-five{
  width: 98px;
  height: 21px;
  margin-top: 150px;
  margin-left: 354px;
  font-family: SF Pro Text;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.5);
}

.img-one{

} */
